{{!-- <form action="/dashboard/addStation" method="POST">
  <div class="field">
    <label class="label">Station County</label>
     <input class="input" type="text" placeholder="Enter county name" name="name" />
  </a>
  <button class="button is-link">Add County</button>
</form> --}}


<form action="/dashboard/addStation" method="POST">
  <div class="field">
    <label class="label">Station County</label>
<div class="select">
  <select name="name" >
        <option></option>
        <option>Armagh</option>
        <option>Carlow</option>
        <option>Cavan</option>
        <option>Clare</option>
        <option>Cork</option>
        <option>Derry</option>
        <option>Donegal</option>
        <option>Down</option>
        <option>Dublin</option>
        <option>Fermanagh</option>
        <option>Galway</option>
        <option>Kerry</option>
        <option>Kildare</option>
        <option>Kilkenny</option>
        <option>Laois</option>
        <option>Leitrim</option>
        <option>Limerick</option>
        <option>Longford</option>
        <option>Louth</option>
        <option>Mayo</option>
        <option>Meath</option>
        <option>Monaghan</option>
        <option>Offaly</option>
        <option>Roscommon</option>
        <option>Sligo</option>
        <option>Tipperary</option>
        <option>Tyrone</option>
        <option>Waterford</option>
        <option>Westmeath</option>
        <option>Wexford</option>
        <option>Wicklow</option>
  </select>
</div>
</div>

  <button class="button is-link">Add County</button>
</form>









