<div class="title p-3 is-flex">
  <i style="font-size: 48px; color:rgb(30, 196, 50)" class="fas fa-charging-station"></i>
    <i style="font-size: 48px; color:rgb(30, 196, 50)" class="fa fa-car-side-bolt"></i>
    <i style="font-size: 48px; color:rgb(30, 196, 50)" class="fa fa-car"></i>

  <div class="ml-4">Electric Power</div>
</div>