{{> menu}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{errorTitle}}</title>
</head>
<body>
    <div class="box box-link-hover-shadow has-background-warning-light">
    <div class="error">
      <h2>Admin Access Only</h2>
    </div>
    </div>
</body>
</html>