{{> welcome-menu}}

<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <h1> Sign up or Log in ... </h1>
  </div>
  <div class="column">
  <figure class="image">
    <img src="/images/charger.jpg">
  </figure>
  </div>

</div>