{{> menu}}

<section class="section">
  <div class="title">
    {{station.name}}
  </div>
  {{> list-locations}}
  {{> add-location}}
</section>

<script>
    function setTextUpdate(inputId, nameId){
        const fileInput = document.getElementById(inputId);
        fileInput.onchange = () => {
            if (fileInput.files.length > 0) {
                let fileName = document.getElementById(nameId);
                fileName.textContent = fileInput.files[0].name;
            }
        };
    };

    function openUpload(id){
        document.getElementById("upload-".concat(id)).classList.add("is-active");
    };

    function closeUpload(id){
        document.getElementById("upload-".concat(id)).classList.remove("is-active");
    };
</script>