<form action="/dashboard/addStation" method="POST">
  <div class="field">
    <label class="label">Station County</label>
     <input class="input" type="text" placeholder="Enter county name" name="name" />
  </div>
  <button class="button is-link">Add County</button>
</form>