{{#each stations}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{name}}
    </h2>
        <a href="/station/{{_id}}" class="button">
      <span class="icon is-small">
        <i class="fas fa-folder-open"></i>
      </span>
    </a>
        <a href="/dashboard/deleteStation/{{_id}}" class="button">
      <span class="icon-is-small">
        <i class="fas fa-trash"></i>
      </span>
    </a>
  </div>
{{/each}}