<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Location Name</th>
      <th>Latitiude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    {{#each station.locations}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{latitude}}
        </td>
        <td>
          {{longitude}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>