<table class="table is-fullwidth">
        <h1 class="title">Lists of Users</h1>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Delete User</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>
          {{firstName}}
        </td>
        <td>
          {{lastName}}
        </td>
        <td>
            {{email}}
        </td>
        <td>
          <a href="/admin-access/deleteUser/{{_id}}" class="red-button">
      <i class="fas fa-trash"></i>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>